div[class="post"] {
  text-align: center;
}

div[class="post-container"]{
  text-align: center;
}

div[class="card-body"] {
width: 50%;
text-align: center;
align-self: center;
justify-content: center;
display:inline-block;
}

div[class="card"] {
  width: 50%;
  text-align: center;
  align-self: center;
  justify-content: center;
  display:inline-block;
}

div[class="new-post-button"]{
  text-align: center;
}

 div[class="header"]{
  overflow: hidden;
  font-size: 30px;
  font-family: "roboto";
  font-weight: bold;
  color: white;
  background-color: green;
  overflow: hidden;
  padding: 10px 10px;
}

div[class="logout-button"]{

}

div[class="container footer"]{
  overflow: hidden;
  font-size: 30px;
  font-family: "roboto";
  font-weight: bold;
  color: white;
  position:fixed;
  bottom: 0px;
  width: 400px;
  text-align: center;
  width: 100%;
}

div[class="header-title"]{
  text-align: center;
}

body{
  background-image: url('images/nick-abrams-195770-unsplash.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div[class="login-container"]{
  padding-top: 50px;
  text-align: right;
  position: relative;
  padding-right: 25%;
}

div[class="error-message"]{
  color:red;
}

div[id="alert"]{
  color:red;
}

div[class="message"]{
  text-align: center
}

h2{
  text-align: left;
  padding-left: 20%;
}

.footer{
  font-size: 12px;
  padding-top: 60px;
  padding-right: 15px;
  color: #003569;
  }

li {
    display: inline;
  }

img {
   float: left;
   padding-left: 20%;
   padding-top: 20px;
 }

 .message{
   padding-top: 30px;
 }

 .sign_up{
   text-align: center;
   align-self: center;
 }

 div[class="btn btn-success"]{
   text-align: center;
   align-self: center;
 }

 .sign_up .home-title{
   padding-top: 20px;
   padding-left: 30px;
   text-align: center;
 }

 div[class="field"]{
   text-align: center;
 }

 .home-title{
   text-align: center;
 }

.login-container{
  align-self: center;
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.home-title{
  align-self: center;
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.actions{
  align-self: center;
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.links-container{
  align-self: center;
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.field{
  align-self: center;
  text-align: center;
  margin: auto;
  width: 40%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
